/* Use a more-intuitive box-sizing model*/
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0,
}

.attribution { 
    font-size: 0.688rem; /*Font-size should be in rem  */ 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.author {
    align-items: center;
    display: flex;
    gap: 12px;
}

.author p {
    font-weight: 800;
}

.avatar-pic {
    display: block;
    height: 40px;
    max-width: 100%;
    width: 40px;
}

/*Typographic tweaks! Add accessible line-height and improve text rendering*/
body {
    background-color: #F4D04E;
    color: #111111;
    display: grid;
    font-family: "Figtree", serif;
    line-height: 1.5;
    height: 100vh;
    place-items: center;
    -webkit-font-smoothing: antialiased;
}

.blog-card {
    align-items: center;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 8px 8px 0 0 #000;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 12px;
    max-width: 384px;
    padding: 24px;
    transition: all 0.2s;
}

.blog-card:hover {
    box-shadow: 16px 16px 0 0 #000;
}

.content {
    width: 100%;
}

.date p {   
    font-weight: 500;
}

.label {
    background-color: #F4D04E;
    border-radius: 4px;
    font-weight: 800;
    height: fit-content;
    line-height: 0;
    padding: 2px 12px;
    width: fit-content;
}

.paragraph p {
    color: #6B6B6B;
    font-size: 1rem;
    font-weight: 500;
}


h1 {
    font-size: 1.5rem;
    font-weight: 800;
    overflow-wrap: break-word; /* Avoid text overflows */
    transition: color 0.3s;
}

h1:hover {
    color: #F4D04E;
}


.illustration {
    border-radius: 10px;
    display: block; /* Improove media defaults*/
    max-width: 100%;
}

p {
    font-size: 0.875rem;
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}